.App {
  padding: 13px 0 100px;
  max-width: 900px;
  margin: 0px auto;
}
body {
  background: #f5f7e2;
}
a {
  color: #888852;
  font-weight: bold;
}
a:hover {
  color: #888852;
}
.App-header {
  text-align: center;
  margin: 30px 0;
  font-weight: 600;
  font-size: 40px;
  color: #888852;
}
.App footer {
  text-align: center;
  margin: 30px 0;
}
