.Phonetic a {
  border: 1px solid #888852;
  text-decoration: none;
  border-radius: 25px;
  padding: 7px 8px;
  transition: all 150ms ease-in-out;
  margin-right: 15px;
  font-size: 15px;
}
.Phonetic a:hover {
  background-color: #888852;
  color: white;
}
.Phonetic {
  height: 50px;
}
.Phonetic .text {
  font-size: 21px;
  color: #888852;
}
